pipecat-ai[daily,openai,sarvam,webrtc]
python-dotenv
loguru
asyncpg
python-dateutil
requests
httpx
redis
fastapi
uvicorn
twilio
pytz
pipecat-ai[google]
python-multipart
pipecat-ai-small-webrtc-prebuilt